

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#canvas {
 
  border-style: solid;
  
  width: 300px;
  height:300px;
   cursor: pointer;
}

#canvas:active { 
    cursor: crosshair;
}


#menu {

    margin-bottom: 20px;
}


.alert >p {

    color:red;
    font-size:150%;

}
button.polygon:focus {

    background-color: #ff0000;
   


}














